.post{
    
    width: 850px;
    margin-top: 30px;
    margin-right: 40px;
    margin-bottom: 50px;
    margin-left: 40px;
}

.post__header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;

}

/* .post__headerAuthor{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bolder;

} */

.post__headerAuthor > span {

    color: grey;
    font-size: 15px;
}

.post__image > img{
    width: 70%;
    border-radius: 5%;
}